# loads necessary flask packages
Flask
Flask-Cors
Flask-SQLAlchemy # Required for SQLite
Flask-WTF # forms
Flask-Migrate # Required for migrating database with any changes
mysql-connector-python # Required for MySQL connection
